//- 首页
include component/head.pug
style(type="text/css").
	h1{
		text-align: center;
		font-size: 100px;
		color: #ccc
	}
	@media only screen and (max-width: 768px) {
		h1{
			font-size: 48px;
		}
	}
body
	h1 NOTHING
		br 
		|HERE
