//- 小日志
extends ../component/head.pug

block scripts
	link(rel="manifest" href="manifest.json")
	style
		include ../component/icon.css
	script
		include ../component/sw.js
block body
	body
		div(id="app")
	script(src=coov.staticPath + 'log/index.js.gz?sign=7yFzWRTLkgrnMGk4u+y48mzCK79hPTEyNTI0NTgwMDUmaz1BS0lEZURib3JqM3ZwWkJmQld1ZVM1YzljMkNCeW1UemJWVUgmZT0xNTE2NDYwMTQ0JnQ9MTUxMzg2ODE0NCZyPTExMTU4Mjk1NDImZj0vbG9nL2luZGV4LmpzLmd6JmI9c3RhdGlj')
	