//- 小日志
extends ../component/head.pug

block scripts
	link(rel="manifest" href="manifest.json")
	style
		include ../component/icon.css
	script
		include ../component/sw.js
block body
	body
		div(id="app")
	script(src=coov.staticPath + 'log/index.js.gz?sign=DTQLVgCR+Q/zvO2RzXXrFjoEiWFhPTEyNTI0NTgwMDUmaz1BS0lEZURib3JqM3ZwWkJmQld1ZVM1YzljMkNCeW1UemJWVUgmZT0xNTE1NjgwNDM3JnQ9MTUxMzA4ODQzNyZyPTc0NDM4NTEzJmY9L2xvZy9pbmRleC5qcy5neiZiPXN0YXRpYw==')