//- 小日志
extends ../component/head.pug
block scripts
	- var staticRoot = coov.staticRoot + 'log/'
	link(rel="manifest" href=staticRoot + 'manifest.json')
	style
		include ../component/icon.css
	include ../component/sw.pug
block body
	body
		div(id="app")
	script(src=staticRoot + 'index.js.gz')
	