{
	"extends": "google",
	"env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
		}
    },
    "rules": {
        "semi": 2,
        "linebreak-style": 0,
        "arrow-parens": [1, "as-needed"],
        "comma-dangle": [1, "only-multiline"],
        "no-unused-vars": 1,
        "guard-for-in": 0,
        "indent": [1, "tab"],
		"spaced-comment": 1,
		"no-trailing-spaces": 1,
		"object-curly-spacing": [1, "always"],
		"no-undef": 2,
		"prefer-const": 1,
		"space-infix-ops": 2,
		"no-invalid-this": 0,
		"max-len": [1, 100],
		"no-const-assign": 2,
		"require-jsdoc": 0
    }
}